/* ? SM */
input[type="file"].hidden {
    display: none;
}

input[type="file"].hidden:not(:disabled) ~ :where(.input-image, .input-button, .input-message).pointer {
    cursor: pointer;
}

.input-message {
    pointer-events: none;
}

/* ? MD */
@media (min-width: 768px) {
    /*  */
}

/* ? LG */
@media (min-width: 1024px) {
    /*  */
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media (min-width: 1536px) {
    /*  */
}

/* ? 3XL */
@media (min-width: 1920px) {
    /*  */
}